@import "../../styles/variables";

$current-meter: 6rem;
$current-border: $border-width * 2;
$current-size: 1rem;

.current {
  position: relative;
  height: $current-meter * 2;
  width: $current-meter * 2;
  text-align: center;
  z-index: 100;

  &Container {
    padding: 0 1rem;
    max-height: $current-meter + 2rem;
    overflow: hidden;
    flex: 0 0 auto;
  }

  &Track {
    position: relative;
    height: $current-meter;
    width: $current-meter * 2;
    background: $grey;
    background: linear-gradient(to right, var(--temp-low), var(--temp-high));
    border-top-left-radius: $current-meter * 2;
    border-top-right-radius: $current-meter * 2;
    mask: url("/images/meter.svg") 0 0;
    mask-repeat: no-repeat;
    mask-size: cover;
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    height: $current-size;
    width: $current-size;
    top: 50%;
    left: 50%;
    margin: -($current-size / 2);
    background-color: var(--marker-color);
    border: $current-border solid $white;
    border-radius: 50%;
    transform:
      rotate(var(--current-position))
      translate($current-meter - ($current-size / 2));
  }

  &Temperature {
    position: relative;
    top: -1em;
    font-size: $current-meter / 1.75;
    font-weight: 900;
  }

  &Label {
    position: absolute;
    bottom: $current-meter - $current-size - 1rem;
    font-size: 1.25em;
    font-weight: 600;

    &:first-of-type {
      left: -0.25em;
    }

    &:last-of-type {
      right: -0.5em;
    }
  }
}
