.forecast {
  padding: 1rem 0;

  &Current {
    display: flex;
    margin-bottom: 3rem;
  }

  &Info {
    margin-left: 2rem;
  }

  &Conditions {
    margin: 0 0 1.25rem;
    display: flex;
    align-items: flex-start;

    h2 {
      font-weight: 900;
      margin: 0 0 0.25rem;
    }
  }

  &Text {
    margin: 0 auto 1rem;
  }
}

.icon {
  flex: 0 0 3.5rem;
  margin-right: 1rem;
}
