.forecast {
  padding: 1rem 0;

  &Current {
    display: flex;
    margin-bottom: 3rem;
  }

  &Info {
    margin-left: 2rem;
  }

  &Conditions {
    margin: 0 0 1.25rem;
    font-weight: 900;
  }
}

.icon {
  width: 2em;
  vertical-align: middle;
  margin-right: 0.5rem;
}
