@import "../../styles/variables";

$temp-size: 2rem;

.temp {
  position: absolute;
  font-size: 0.875rem;
  margin-left: -2rem;
  margin-top: -0.5em;
  background: black;
  color: $white;
  border-radius: 50%;
  padding: 0.25rem 0;
  text-align: center;
  height: $temp-size;
  width: $temp-size;
  display: flex;
  justify-content: center;
  align-items: center;
}
