@import "../../styles/variables";

$temp-size: 2rem;

.temp {
  position: absolute;
  font-size: 0.875rem;
  background: black;
  color: $white;
  border-radius: 50%;
  padding: 0.25rem 0;
  text-align: center;
  height: $temp-size;
  width: $temp-size;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: -1.5em;
  transition: all 0.3s linear;

  &[style] {
    @media (max-width: $large) {
      bottom: 0 !important;
    }

    @include respond-to(large) {
      bottom: inherit;
      left: 50% !important;
    }
  }

  @include respond-to(large) {
    left: 50%;
    margin-bottom: -1rem;
    margin-left: -1em;
  }
}
