@import "../../styles/variables";

.condition {
  height: 100%;
  width: 100%;
  opacity: 0.7;

  @include respond-to(medium) {
    height: 0.75rem;
  }

  &Rain {
    background: $blue;
  }

  &Snow {
    background: $white;
  }

  &Sleet {
    background: mix($white, $blue, 50%);
  }

  &Clear {
    background: darken($grey-light, 5%);
  }

  &Overcast {
    background: darken($grey-medium, 5%);
  }

  &PartlyCloudy {
    background: lighten($grey-medium, 20%);
  }
}
