@import "../../styles/variables";

.location {
  margin-bottom: 1.5rem;

  &Name {
    margin: 2rem 0 1rem;
    font-size: 2.5rem;
    font-weight: 900;
  }
}

.row {
  @include respond-to(medium) {
    display: flex;
    margin: 0;
  }
}
