@import "../../styles/variables";

.results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 20rem;
  min-width: 100%;
  margin-top: -$border-width;
  padding: 1rem;
  background: transparentize($white, 0.05);
  border: $border;
  z-index: 1000;

  &Item {
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
