$blue: #1678c2;
$green: #28a745;
$grey: #cfcfcf;
$white: #fff;

$temp-ex-low: hsl(192, 85%, 50%);
$temp-low: hsl(209, 85%, 50%);
$temp-med-low: hsl(133, 85%, 50%);
$temp-med-high: hsl(29, 85%, 50%);
$temp-high: hsl(12, 85%, 50%);

$avatar-size: 8rem;

$border-width: 0.0625rem;
$border: 0.0625rem solid $grey;
$font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto, Segoe UI,
  Helvetica Neue, Lucida Grande, Helvetica, Arial, sans-serif;
$font-family-mono: source-code-pro, Menlo, Monaco, Consolas, Courier New,
  monospace;

$small: 24rem;
$medium: 36rem;
$large: 50rem;

@import "./mixins";
