@import "./variables";

.app {
  padding: 1rem;
  margin: auto;
  background: $white;
  max-width: 50rem;
  box-shadow: 0 0 1rem 0 grey;

  &Header {
    padding: 1rem 0;
    border-bottom: $border;
  }
}
