@import "../styles/variables";

.app {
  position: relative;
  max-width: $large;
  margin: auto;
  padding: 1rem 0.5rem;
  background: var(--background-color);

  @include respond-to(medium) {
    padding: 1rem;
  }

  @include respond-to(large) {
    padding: 2rem;
  }
}
