@import "./variables";

:root {
  --background-image: none;
  --background-color: black;
  --current-position: 180deg;
  --temp-low: hsl(209, 85%, 50%);
  --marker-color: var(--temp-low);
  --temp-high: hsl(12, 85%, 50%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 3rem 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

code {
  font-family: $font-family-mono;
}

.list-clear {
  list-style: none;
  padding: 0;
}

.container {
  padding: 1rem;
}

a {
  color: $blue;
  text-decoration: none;

  &:visited {
    color: $blue;
  }
}

.svg-icon {
  fill: currentColor;
  width: auto;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
}
