@import "../../styles/variables";

.uv {
  display: inline-block;
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 0.325em;
  padding: (0.125 / 2 * 1em);
  color: $white;
  font-size: 0.875rem;
  text-align: center;
  vertical-align: center;
  border-radius: 100%;
}

.exLow {
  background-color: $green;
}

.low {
  background-color: $yellow;
  color: $grey;
}

.med {
  background-color: $orange;
}

.high {
  background-color: $red;
}

.exHigh {
  background-color: $purple;
}
