@import "../../styles/variables";

.hourlyForecast {
  margin: 1rem 0;

  @include respond-to(medium) {
    display: grid;
    padding: 0;
    text-align: center;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0;
  }
}

.forecastSummary {
  max-width: 30rem;
  margin: 0 0 1rem;

  &Title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
