@import "../../styles/variables";

.hourlyForecast {
  margin: 1rem 0 2rem;

  @include respond-to(medium) {
    display: grid;
    text-align: center;
    padding: 0;
    margin: 2rem 0 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    height: 16rem;
  }
}

.forecastSummary {
  margin: 0 0 1rem;
  max-width: 30rem;

  &Title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
