@import "../../styles/variables";

$label-size: 1.75rem;

.tempRange {
  position: relative;
  margin: 1rem $label-size 0;

  &Bar {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    text-align: right;
    align-items: center;
    width: 100%;
  }
}

.range {
  position: relative;
  display: block;
  background: black;
  height: 1rem;
  min-width: 2%;
  border-radius: 0.5rem;
  margin: 0 0.325rem;
}

.rangeValue {
  position: absolute;

  &:first-child {
    left: -$label-size;
  }

  &:last-child {
    right: -$label-size;
  }
}
