@import "../../styles/variables";

$label-size: 2rem;

.tempRange {
  position: relative;
  height: 1em;
  margin: 0 $label-size;
  align-self: center;

  &Bar {
    display: flex;
    position: absolute;
    width: 100%;
    text-align: right;
    justify-content: flex-start;
    align-items: center;
    top: 0.325rem
  }
}

.range {
  display: block;
  position: relative;
  height: 0.5rem;
  min-width: 2%;
  margin: 0 0.325rem;
  background: lighten($grey, 25%);
  border-radius: 0.5rem;
}

.rangeValue {
  position: absolute;
  top: -0.325em;
  font-size: 0.875rem;

  &:first-child {
    left: -($label-size - 0.25rem);
  }

  &:last-child {
    right: -($label-size - 0.25rem);
  }

  @include respond-to(small) {
    font-size: 1rem;
  }
}
