@import "../../styles/variables";

.stats {
  display: grid;

  @include respond-to(medium) {
    grid-template-columns: 1fr max-content max-content;
    grid-column-gap: 1.5rem;
  }

  &Secondary {
    @include respond-to(medium) {
      grid-template-columns: repeat(4, max-content);
    }
  }
}
