@import "../../styles/variables";

.stats {
  display: grid;
  margin-top: 1rem;

  @include respond-to(medium) {
    grid-template-columns: 1fr max-content max-content;
    grid-column-gap: 1rem;
  }

  &Item {
    padding-bottom: 1rem;
  }
}

.sun {
  color: orange;
  font-size: 1.5rem;

  &Item {
    display: inline-block;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
  }
}
