@import "../../styles/variables";

.forecast {
  &Header {
    margin: 0 0 3rem;

    @include respond-to(medium) {
      display: flex;
      margin: 0 0 3rem -1rem;
      flex-wrap: wrap;
    }
  }

  &Info {
    margin: 2rem 0;
    flex: 1 1 auto;

    @include respond-to(medium) {
      margin-top: 0;

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }

  &Conditions {
    display: flex;
    align-items: flex-start;

    h2 {
      margin: 0 0 0.25rem;
      font-weight: 900;
    }
  }

  &Text {
    margin: 0 0 2rem;
  }
}

.icon {
  margin-right: 1rem;
  font-size: 3rem;
  opacity: 0.5;
}

.range {
  margin: 0;
  margin: 0.5rem 0 2rem;
  font-size: 1.25rem;

  &Icon {
    position: relative;
    bottom: 0.125rem;
    margin: 0 0.5rem;
    color: $grey-medium;
  }
}
