@import "../../styles/variables";

.forecast {
  &Header {
    margin-bottom: 3rem;

    @include respond-to(medium) {
      display: flex;
    }
  }

  &Info {
    margin-top: 2rem;
    flex: 1 1 auto;

    @include respond-to(medium) {
      margin-top: 0;

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }

  &Conditions {
    display: flex;
    align-items: flex-start;

    h2 {
      margin: 0 0 0.25rem;
      font-weight: 900;
    }
  }

  &Text {
    margin: 0 0 2rem;
  }
}

.icon {
  margin-right: 1rem;
  font-size: 3rem;
  opacity: 0.5;
}
