@import "../../styles/variables";

.forecastHour {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1.5em 1.5em;
  grid-auto-flow: dense;
}

.day {
  font-weight: 700;
}

.summary {
  font-size: 0.75rem;
  opacity: 0.85;
  margin: 0 1rem;
}

.temperatures {
  position: relative;
  margin: 1rem 0;
}

.precipitation {
  font-size: 0.875rem;
  opacity: 0.55;
}

.icon {
  width: 100%;
}
