@import "../../styles/variables";

.forecastHour {
  display: flex;
  position: relative;
  padding: 0.625rem 0;
  align-items: center;

  @include respond-to(medium) {
    display: grid;
    padding: 0;
    text-align: center;
    grid-template-rows: 1fr 1.5em 1.5em;
  }
}

.day {
  margin-right: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: right;
  flex: 0 0 2.75rem;

  @include respond-to(medium) {
    margin: 0;
    text-align: center;
  }

  @include respond-to(large) {
    font-size: 1rem;
  }
}

.summary {
  margin: 0 1rem;
  font-size: 0.75rem;
  opacity: 0.85;
}

.temperatures {
  position: relative;
  min-height: 1.5rem;
  margin: 0 1rem;
  text-align: right;
  order: 3;
  flex: 1 1 50%;

  @include respond-to(medium) {
    height: calc(100% - 2rem);
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    order: 0;
  }
}

.icon {
  width: 100%;
}
