@import "../../styles/variables";

.button {
  margin-top: 1rem;
  background: none;
  color: $blue;
  font-size: 1rem;
  border: 0;

  @include respond-to(medium) {
    margin: 0;
  }
}

.icon {
  position: relative;
  bottom: -0.125em;
  height: 1em;
  width: 1em;
  margin-right: 0.5rem;
  fill: currentColor;
  vertical-align: baseline;
}
