@import "../../styles/variables";

.dailyForecast {
  max-width: 100%;
  margin: 1rem 0 0;

  > li {
    &:not(:last-child) {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: $border;
    }
  }
}

.forecastSummary {
  max-width: 30rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}
