.dailyForecast {
  max-width: 100%;
  margin: 1rem 0 0;
}

.forecastSummary {
  max-width: 30rem;
  margin: 0 0 1rem;
  line-height: 1.5;

  &Title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
