@import "../../styles/variables";

.dailyForecast {
  max-width: 100%;
  margin: 1rem 0 0;

  > li {
    &:not(:last-child) {
      border-bottom: $border;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.forecastSummary {
  max-width: 30rem;
  margin: 0 0 1rem;
  line-height: 1.5;

  &Title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
