@import "../../styles/variables";

$current-meter: 6rem;
$current-border: $border-width * 2;
$current-size: 1rem;

:root {
  --current-position: 180deg;
  --temp-low: hsl(209, 85%, 50%);
  --temp-high: hsl(12, 85%, 50%);
}

.current {
  width: $current-meter * 2;
  height: $current-meter * 2;
  position: relative;
  text-align: center;
  z-index: 100;

  &Container {
    padding: 0 0.5rem;
    max-height: $current-meter + 2rem;
    overflow: hidden;
  }

  &Track {
    position: relative;
    width: $current-meter * 2;
    height: $current-meter;
    background: $grey;
    background: linear-gradient(to right, var(--temp-low), var(--temp-high));
    border-top-left-radius: $current-meter * 2;
    border-top-right-radius: $current-meter * 2;

    &::after {
      position: absolute;
      content: "";
      left: $current-size;
      top: $current-size;
      width: ($current-meter * 2) - ($current-size * 2);
      height: $current-meter - $current-size;
      border-top-left-radius: $current-meter * 2;
      border-top-right-radius: $current-meter * 2;
      background: $white;
    }
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform:
      rotate(var(--current-position))
      translate($current-meter - ($current-size / 2));
    height: $current-size;
    width: $current-size;
    margin: -($current-size / 2);
    border-radius: 50%;
    border: $current-border solid $white;
  }

  &Temperature {
    position: relative;
    font-size: $current-meter / 1.75;
    font-weight: 900;
    top: -1em;
  }

  &Label {
    position: absolute;
    bottom: $current-meter - $current-size - 1rem;
    font-size: 1.25em;
    font-weight: 600;

    &:first-of-type {
      left: -0.25em;
    }

    &:last-of-type {
      right: -0.5em;
    }
  }

  sup {
    font-size: 0.625em;
  }
}
