@import "../../styles/variables";

.location {
  &Name {
    margin: 2rem 0 1rem;
    font-size: 2.5rem;
    font-weight: 900;
  }

  &Coordinates {
    opacity: 0.75;
  }

  &Refresh {
    display: inline-block;
    opacity: 0.75;
    margin-left: 0.5rem;

    &::before {
      display: inline-block;
      content: "\2022";
      margin-right: 0.5rem;
    }
  }
}
