@import "../../styles/variables";

.range {
  position: relative;
  top: -0.125em;
  margin: 0 0 1rem;

  &Icon {
    position: relative;
    bottom: 0.125rem;
    margin: 0 1rem;
    color: $grey-medium;
  }
}

.temperature {
  margin-right: 0.25rem;
  font-size: 1.325rem;
}
